$colorMap: (
    dark: #1e1e1e,
    purple-main: #775ce5,
    grey-text: #939199,
    dark-text: #1d1d1f,
    red-light: #f23152,
    grey-border: #e9e8eb,
    danger-text: #f2883d,
    success-text: #449b34,
    success-background: #e2ffde,
    progress-text: #213c73,
    progress-background: #cbdaff,
    white-top-text: #f3f5ff,
    green-main: #24b277,
    green-secondary: #26bf80,
);

@function color ($key) {
    @return map-get($colorMap, $key);
}

@function space ($num) {
	@return $num * 4px;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: space(3);
    }

    &__icon {
        width: 48px;
        height: 48px;
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: space(2);
    }

    &__text {
        font-size: 16px;
        font-weight: bold;

        &--main--green {
            color: color(green-main);
        }

        &--secondary--green {
            color: color(green-secondary);
            font-weight: normal;
        }

        &--main--dark {
            color: color(dark-text);
        }

        &--secondary--grey {
            color: color(grey-text);
            font-weight: normal;
        }
    }

    &__heading {
        color: color(dark-text);
        font-size: 16px;
        font-weight: bold;
    }
    
    &__bottom {
        display: flex;
        align-items: center;
        gap: space(1);
    }
}

.text--small {
    color: color(grey-text);
    text-align: center;
    font-size: 12px;
}

.period {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2px;
    height: 2px;
    background-image: url("../../../public/svg/period.svg");
    background-repeat: no-repeat;
    background-position: center center;
}